@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-font-family: 'Questrial', sans-serif;
  --title-font-family: 'Playfair Display';
  --brand-color: #2a2a2a;
}

body {
  margin: 0;
}

input, textarea {
  outline: none;
  font-family: var(--text-font-family);
  color: var(--brand-color);
}

button {
  transition: .2s ease all;
  font-family: var(--text-font-family);
}

span, p, label {
  font-family: var(--text-font-family);
}

h2, h3, h5 {
  font-family: var(--title-font-family);
  color: var(--brand-color);
}

input[type='checkbox'] {
  accent-color: var(--brand-color);
}

.screen-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mapbox */

.mapboxgl-ctrl-geocoder {
  height: 2.5rem;
  display: flex;
  align-items: center;
  width: 100% !important;
  max-width: 100% !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
  display: none !important;
}

.mapboxgl-ctrl-geocoder input[type="text"] {
  font-family: var(--text-font-family);
  outline: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 100%;
  padding: 0.5rem;
}

.mapboxgl-ctrl button:not(:disabled):hover {
  background: transparent !important;
}

.mapboxgl-ctrl-geocoder--button {
  margin-top: 2.3px !important;
}